.App {
  text-align: center;
  background-color: powderblue;
  color: white;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
}

.App-header {
  height: 6rem;
  padding: 1rem;
}

.App-title {
  margin: 0;
  font-size: 5rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
