.Card {
  width: 7rem;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.Card img {
  width: 100%;
  height: 5rem;
}

.icon {
  font-size: xx-large;
 margin: 0
}