.Card {
  width: 7rem;
  height: 8rem;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: .5rem .5rem 2rem lightpink; 
  margin: 2rem 2rem 0 2rem;
  border-radius: 9000rem;
}

.Card:hover {
  box-shadow: .5rem .5rem 2rem chartreuse; 
}


.Card img {
  width: 100%;
  height: 5rem;
}

.icon {
  font-size: xx-large;
 margin: 0
}