.largeInput {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.smallInput {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
}

.largeInput input{
  -moz-border-radius: 9rem; 
  -webkit-border-radius: 9rem;
  background: radial-gradient(beige 65%, orange);
  border-radius: 9rem;
  border: .001rem solid blue;
  color: slategrey;
  cursor: pointer;  
  font-size: larger;
  font-weight: bold;
  height: 3rem;
  margin: 1rem 0;
  text-align: center;
  text-decoration-color: blue;
  width: 50%;
}

.largeInput button {
    -moz-border-radius: 9rem; 
  -webkit-border-radius: 9rem;
  backg
  border-radius: 9rem;
  border: .001rem solid blue;
  color: purple;
  cursor: pointer;
  font-weight: bold;
  height: 2rem;
  width: 30%;
font-size: large;round: radial-gradient(beige 65%, orange);
}

.largeInput button:hover {
  background: radial-gradient(beige 45%, green);
}

.smallInput input{
  -moz-border-radius: 9rem; 
  -webkit-border-radius: 9rem;
  background: radial-gradient(#fcffbf 40%, orange);
  border-radius: 9rem;
  border: .001rem solid blue;
  color: purple;
  cursor: pointer;
  float: right;
  font-size: .75rem;
  height: 2.5rem;
  text-align: center;
  width: 77.5%;
}

.smallInput button {
    -moz-border-radius: 9rem; 
  -webkit-border-radius: 9rem;
  bac
  border-radius: 9rem;
  border: .001rem solid blue;
  color: purple;
  cursor: pointer;
  font-weight: bold;
  height: 3rem;
  width: 16%;
font-size: .80rem;kground: radial-gradient(#fcffbf 40%, orange);
}

.smallInput button:hover {
  background-color: orange
}