.largeInput {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.smallInput {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
}

.largeInput input{
  font-size: larger;
  font-weight: bold;
  color: brown;
  text-align: center;
  width: 50%;
  height: 3rem;
  text-decoration-color: blue;
  cursor: pointer;  
  margin: 1rem 0;
}

.largeInput button {
  font-size: large;
  font-weight: bold;
  color: brown;
  width: 30%;
  height: 2rem;
}

.smallInput input{
  font-size: .75rem;
  color: brown;
  text-align: center;
  width: 77.5%;
  height: 2.5rem;
  float: right;
  cursor: pointer;
}

.smallInput button {
  font-size: .80rem;
  font-weight: bold;
  color: brown;
  width: 16%;
  height: 3rem;
  cursor: pointer;
}