.SevenHourForecast {
  display: flex;
  justify-content: space-around;
  border: .2rem solid pink;
  transition-duration: 3s;

}

.SevenHourForecast:hover {
  background-color: orange;
  /*transform: ;*/
}