.SevenHourForecast {
  display: flex;
  align-content: center;
  justify-content: space-around;
  border: .2rem solid pink;
  transition-duration: 3s;
  width: 635rem;
  overflow: scroll;

}

.SevenHourForecast:hover {
  background-color: orange;
  width: 90rem;
}