.TenDayForecast {
  animation-direction: alternate;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-name: slidein;
  display: flex;
  justify-content: space-between;
  width: 150vw;
}

@keyframes slidein {
  from {
    margin-left: 5%;
    width: 100%; 
  }
  to {
    margin-left: -160%;
    width: 100%;
  }
}